@import "tailwindcss";

:root {
  --color-primary: #0A1F44;
  --color-accent: #0FA3B1;
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: #1f2937;
}

.section-padding {
  @apply py-20 px-6 md:px-16;
}

.container-width {
  @apply max-w-7xl mx-auto;
}

